
config webui 'webui'
	option _auth 'tls'

config openvpn '$Config_name'
	option keepalive '10 120'
	option _name '$Config_name'
	list data_ciphers 'BF-CBC'
	option nobind '1'
	option persist_key '1'
	option port '1194'
	option dev 'tun_c_$Config_name'
	option persist_tun '1'
	option status '/tmp/openvpn-status_$Config_name.log'
	option verb '5'
	option type 'client'
	option proto '$Protocol'
	option enable '1'
	option comp_lzo '$LZO'
	option _auth 'skey'
	option remote '$Server_WAN_ip'
	option resolv_retry 'infinite'
	option local_ip '172.16.10.2'
	option remote_ip '172.16.10.1'
	option network_ip '$Server_LAN_ip'
	option network_mask '255.255.255.0'
	option secret '/etc/vuci-uploads/static.key'
	option cipher '$Encryption'
	option upload_files '0'
	option _tls_auth 'none'

